.viewLegend {
	height: 230px;
}

.viewLegend .legendContainer {
	margin-top: 23px;
}

#initPopup .viewLegend .legendContainer {
	margin-top: 65px;
}

.viewLegend .legend-box {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	margin-top: 15px;
}

.viewLegend .legend-box:nth-child(2) {
	padding-right: 5px;
}

.viewLegend .legend-box {
	min-height: 250px;
}

.viewLegend label span {
	font-size: 14px;
}

.viewLegend .legendControls {
	margin-left: 0px !important;
	margin-top: 6px;
	position: absolute;
}

#initPopup .legendControls {
	margin-left: 5px !important;
}

.viewLegend .legendInfo, .viewLegend .seriesInfo, .viewLegend .geolocatorInfo {
	vertical-align: -4px;
}

.viewLegend .legendtooltip-popover {
	min-width: 290px !important;
}

.viewLegend .seriestooltip-popover {
	max-width: 300px !important;
	width: 300px !important;
}

.viewLegend .geolocatortooltip-popover {
	width: 280px !important;
}

.viewLegend a {
	font-weight: normal;
	text-decoration: underline;
}

.viewLegend #uiSimulator {
	position: absolute;
	top: 35px;
	right: 15px;
}

#initPopup .viewLegend #uiSimulator {
	top: 75px;
}

.viewLegend #uiSimulator div {
	text-align: center;
	margin-bottom: 4px;
	font-weight: bold;
}

.legendControls .checkbox {
	max-width: 335px;
}
